.CatMainDiv {
    margin-left: 1.5%;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 8px;
}

.insideCatMainDiv {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    position: relative;
    padding: 8px;
}

.CatHeading {
    font-size: 24px;
    margin: 0 0 8px;
    color: #002f34;
}

.FilterDiv {
    margin: 8px 16px 0 0;
}

.insideFilterDiv {
    width: 304px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    height: 100%;
}

.FilterHeading {
    padding: 16px 0 16px 16px;
    font-size: 16px;
    font-weight: 700;
}

.LocationDiv {
    border-top: 1px solid rgba(0, 47, 52, .2);
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.LocationHeading {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    justify-content: space-between;
}

.LocationText {
    color: #002f34;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.collapsedContent {
    display: none;
    font-size: 15px;
    color: rgba(0, 47, 52, .64);
    padding: 8px 0 0;
}

.toVisible {
    display: block;
}


.unCollaspedContent {
    padding: 16px 0 0;
}

.unCollaspedContentUl {
    margin: 0;
    padding: 0;
    list-style: none;
}

.unCollaspedContentHeading {
    color: #002f34;
    font-weight: 700;
    display: block;
    margin: 0 0 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}


.unCollaspedDropdownDiv {
    padding: 0;
    list-style: none;
    margin: 0 0 0 16px;
}

.unCollaspedDropdownItem {
    display: block;
    margin: 0 0 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #002f34;
    color: rgba(0, 47, 52, .64);
}


.priceDiv {
    display: block;
    padding: 16px 0 0;

}

.priceContentDiv {
    display: flex;
}

.priceInput {
    background: #ebeeef;
    outline: none;
    height: 40px;
    width: 112px;
    border: none;
    border-bottom: 1px solid rgba(0, 47, 52, .64);
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 8px 0 0;
    font-size: 14px;
}

.priceSearch {
    background-color: rgba(0, 47, 52, .36);
    position: relative;
    cursor: pointer;
    height: 40px;
    flex: 0 0 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    border: 1px solid rgba(0, 47, 52, .36);
    box-sizing: border-box;
    background-clip: content-box;
}

.ItemsDiv {
    margin-top: 8px;
    width: calc(100% - 300px);
}

.ro {
    transform: rotate(180deg);
}