.PopMainDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .8);
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.insidePop {
    margin: 0 16px;
    padding: 16px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    height: 450px;
}

.isVisible {
    display: none;
}

.cross {
    fill: rgba(0, 47, 52, .64);
    float: right;
    right: 12px;
    z-index: 1;
    top: 12px;
    cursor: pointer;
    position: absolute;
}

.btns {
    margin-top: 10%;
}

.LoginOptions {
    margin-top: 10%;
    font-weight: bold;
    font-size: 2rem;
    text-align: center
}

.PhoneNo {
    margin-top: 10%;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10%
}


.phoneInputDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 4px;
    border-style: none;
    margin: 4px 0;
    flex-wrap: wrap;
    position: relative;
    box-shadow: inset 0 0 0 1px rgba(0, 47, 52, .64);
    margin-left: 20px;
    width: 90%;
}

.phoneCode {
    color: rgb(0, 0, 0);
    margin-top: 2%;
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    border-right: 1px solid rgba(0, 47, 52, .36);

}

.phoneInputDiv {
    flex-grow: 1;
    border-left: none;
    margin-left: 0;
    margin-top: 5%;
    width: 100%;
}


.phoneInput {
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;

}