.PostAddMainDiv {
    width: 66.6666666667%;
    margin-left: 16.6666666667%;
    left: auto;
    right: auto;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin-top: 2%;
}

.PostHeading {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.PostListDiv {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0, 47, 52, .2);
    border-radius: 4px;
}

.PostCatHeading {
    padding: 24px 30px 16px;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #002f34;
}

.ListContainerDiv {
    position: relative;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.PostUlDiv {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid rgba(0, 47, 52, .2);
    border-left: none;
}

.PostLiDiv {
    list-style: none;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    line-height: 2;
    color: rgba(0, 47, 52, .64);
    border-top: 1px solid rgba(0, 47, 52, .2);
}

.PostLiDiv:hover {
    color: #002f34;
    background-color: rgba(0, 47, 52, .2);

}

.PostLiContent {
    margin-left: 16px;
    pointer-events: none;
    width: 100%;
}

/********************Add Details***********************/

.AddDetailsMainDiv {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid rgba(0, 47, 52, .2);
    border-radius: 4px;
    padding: 0;
}

.AddDetailHeading {
    font-size: 20px;
    padding: 0 16px;
    text-transform: uppercase;
}

.Boarder {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 47, 52, .2);
    float: left;
    height: 0;
    width: 100%;
}

.AddDetailDiv {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
}

.insideAddDetailDiv {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    float: left;
    min-height: 1px;
    box-sizing: border-box;
    padding: 5px 32px;
}

.AddDetailFont {
    font-size: 20px;
    margin: 0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.AddTitleDiv {
    margin-bottom: 28px;
}

.AddTitleInputDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 4px;
    border-style: none;
    margin: 4px 0;
    flex-wrap: wrap;
    position: relative;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 47, 52, .64);
}

.insideAddTitleInputDiv {
    align-items: center;
    display: flex;
    width: 100%;
}

.inputText {
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

.inputMsg {
    color: rgba(0, 47, 52, .64);
    font-size: 12px;
    flex-grow: 1;
}

.DescInput {
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 96px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 80px;
    width: 100%;
}

.priceRSDiv {
    color: rgba(0, 47, 52, .36);
    height: 32px;
    line-height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
    border-right: 1px solid rgba(0, 47, 52, .36);
    border-left: none;
    direction: ltr;
}

.RemainingRsDiv {
    display: block;
    direction: ltr;
    flex-grow: 1;
}

.PicDivup {
    margin-right: -10px;
    box-sizing: border-box;
    background-color: #fff;
    transition-duration: .5s;
    transition-property: height;
    transition-timing-function: cubic-bezier(0, 1, .5, 1);
    height: 100%;
}

.picUl {
    display: initial;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.PicLi {
    box-sizing: border-box;
    display: inline-block;
    height: 104px;
    margin: 0 6px 6px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 104px;
}


.pic {
    border: 2px solid #9dadb6;
    box-sizing: border-box;
    display: inline-block;
    height: 104px;
    vertical-align: top;
    margin: 0 6px 6px 0;
    width: 104px;
}

.insidePic {
    align-items: center;
    cursor: pointer;
    color: #9dadb6;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.picButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background: none;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
}

.PicMsg {
    color: #ff2800;
    margin-bottom: 0;
    min-height: 20px;
    font-size: 12px;
    line-height: 18px;
}

.Sele {
    appearance: none;
    background: none;
    border: none;
    color: #002f34;
    display: block;
    font-size: 16px;
    height: 48px;
    box-sizing: border-box;
    outline: none;
    padding-left: 12px;
    width: 100%;
    padding-right: 80px;
}

input[type="file"] {
    display: none;
}

.label {
    color: black;
    size: 50px;
}